* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
  }

  body {
    background-color: #151418;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  
  ::selection {
     color: #251161;
    background-color: #8739fa;
}

  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #151418;
    z-index: 1;
    border-bottom: 1px solid white;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo a span {
    color: #8739fa;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #151418;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      border-bottom: 20px solid white;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
    }
  }
  

main {
    position: absolute;
    top: 70px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #151418;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.av {
    width: 100%;
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid white;
}


.s {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.av a {
    width: auto;
    height: 100%;
    color: white;
}

    a {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
  .av a:hover {
    text-decoration: underline;
  }

.t {
    width: auto;
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.txt {
    width: auto;
    height: auto;
    max-width: 90%;
    display: start;
    align-items: start;
    color: white;
    padding-left: 20px;
    font-size: 16px;
}

.code {
    width:auto;
    height: auto;
    min-height: 50px;
    background-color: #403e46;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border: 1px solid grey;
    color: white;
    overflow-x: auto;
}

.c {
    max-width: 90%;
    padding: 20px;
}

.out {
    width:auto;
    height: auto;
    min-height: 50px;
    background-color: #585661;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    color: white;
}

.lk {
    padding-left: 20px;
    width: auto;
    height: auto;
    min-height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #8739fa;
}
.lk:hover {
    text-decoration: underline;
}

.e {
  padding: 0.1px 5px;
  background-color: #8739fa;
  border-radius: 5px;
}

.pl {
  padding: 0.1px 5px;
  background-color: #39fa39;
  color: black;
  border-radius: 5px;
}
.space {
  width: 100%;
  height: 100px;
}

.start {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.articoles {
    width: 100%;
  height: 1000px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.articole {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}

.articol {
  width: auto;
  min-width: 350px;
  height: auto;
  min-height: 50px;
  background-color: #251161;
  cursor: pointer;
  border-radius: 5px;
}
.articol:hover {
  background-color: #341983;
}

.articol a {
  color: white;
}

.search {
  width: 90%;
  max-width: 500px;
  height: 45px;
  background-color: #39383b;
  border: none;
  transition: 0.5s;
  color: white;
  padding-left: 10px;
  outline-width: 0;
  border-radius: 10px;
  border-left: 0px solid #251161;
}
.search:focus {
  transition: 0.5s;
  border-radius: 0;
  border-left: 5px solid #251161;
}

.titlu {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  align-items: center;
  font-size: 18px;
}

.r {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rr {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


